# ===================================================================
# Django & Python section
# ===================================================================

# Virtual Environment
/Infinity_FinTech_Backend/venv/

# Database file
/Infinity_FinTech_Backend/db.sqlite3

# Python cache files
/Infinity_FinTech_Backend/**/__pycache__/
*.pyc

# Media files - User uploads (like avatars and receipts)
/Infinity_FinTech_Backend/media/
/Infinity_FinTech_Backend/.env

# Don't track IDE/editor-specific files
.idea/
.vscode/


# ===================================================================
# React & Node section
# ===================================================================

# Dependencies
/frontend/node_modules/

# Build directory
/frontend/dist/
/frontend/build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ===================================================================
# General section
# ===================================================================

# Environment variables
.env
.env*.local